# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# Dependency directories
venv/
env/
env2/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
*.whl

# IDE files
.vscode/
*.idea/

# Miscellaneous
*.log
*.pyc
.DS_Store
node_modules/
